<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script>
        Babel.registerPreset('tsx', {
          presets: [
            [Babel.availablePresets['typescript'], {allExtensions: true, isTSX: true}]],
          },
        );
    </script>
    <script type="text/babel" src="/static/upload.tsx" data-presets="env,react,tsx"/>
  </body>
</html>